In [1]:
#assigning values to variables
counter = 100
miles = 1000.0
name = "John"

print(counter)
print(miles)
print(name)

100
1000.0
John

In [3]:
#multiple assignment
a = b = c = d = 1
e,f,g = 2,3,"John"
print(a, b, c, d, e, f, g)

1 1 1 1 2 3 John

In [5]:
strKata = "Hello World!"
print(strKata)
print(strKata[0])
print(strKata[2:5])
print(strKata[2:])
print(strKata * 2)
print (strKata + "TEST")

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [6]:
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list1)          # Prints complete list
print(list1[0])       # Prints first element of the list
print(list1[1:3])     # Prints elements starting from 2nd till 3rd 
print(list1[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times
print(list1 + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [7]:
tuple1 = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple1)           # Prints complete list
print(tuple1[0])        # Prints first element of the list
print(tuple1[1:3])      # Prints elements starting from 2nd till 3rd 
print(tuple1[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(tuple1 + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [8]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print(dict1['one'])       # Prints value for 'one' key
print(dict1[2])           # Prints value for 2 key
print(tinydict)          # Prints complete dictionary
print(tinydict.keys())   # Prints all the keys
print(tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [9]:
#decision
#single statement suites
var = 100
if ( var == 100 ) : print("Value of expression is 100")
print("Good bye!")

Value of expression is 100
Good bye!

In [10]:
#String formatting operator
print("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

In [11]:
'''
%c	character
%s	string conversion via str() prior to formatting
%i	signed decimal integer
%d	signed decimal integer
%u	unsigned decimal integer
%o	octal integer
%x	hexadecimal integer (lowercase letters)
%X	hexadecimal integer (UPPERcase letters)
%e	exponential notation (with lowercase 'e')
%E	exponential notation (with UPPERcase 'E')
%f	floating point real number
%g	the shorter of %f and %e
%G	the shorter of %f and %E

'''

"\n%c\tcharacter\n%s\tstring conversion via str() prior to formatting\n%i\tsigned decimal integer\n%d\tsigned decimal integer\n%u\tunsigned decimal integer\n%o\toctal integer\n%x\thexadecimal integer (lowercase letters)\n%X\thexadecimal integer (UPPERcase letters)\n%e\texponential notation (with lowercase 'e')\n%E\texponential notation (with UPPERcase 'E')\n%f\tfloating point real number\n%g\tthe shorter of %f and %e\n%G\tthe shorter of %f and %E\n\n"

In [12]:
print('C:\\nowhere')

C:\nowhere

In [13]:
list1 = ['physics', 'chemistry', 1997, 2000];
print("Value available at index 2 : ")
print(list1[2])
list1[2] = 2001;
print("New value available at index 2 : ")
print(list1[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [14]:
list1 = ['physics', 'chemistry', 1997, 2000];
print(list1)
del list1[2];
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [15]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print(tup3);

(12, 34.56, 'abc', 'xyz')

In [16]:
tup = ('physics', 'chemistry', 1997, 2000);
print( tup)
del tup;
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [17]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School